<section id="main-and-sidebar" class="pad-25">
    <div class="container offset2">
        <div class="row">
            <div class="col-md-4 main">
                <div class="post-thumb">
                    <%= image_tag @user.avatar.url(:medium) %>
                </div>
                <%= form_for @user, :url => update_path, :html => { :multipart => true, method: "patch", :id => "login_details"} do |f| %>
                    <p> Change Profile picture</p>
                    <%= f.file_field :avatar, :value => f.object.avatar %><br>
                    <button class="btn btn-mini btn-primary" id ="update">Upload</button>
                <% end %>
                <label id="upload_error"></label>
            </div>
            <div class="col-md-4 main">
                <h5><%= @user.name %></h5><br>
                <h5><%= @user.age %></h5><br>
                <h5><%= @user.city %></h5><br>
                <h5><%= @user.country %></h5><br>
                <h5><%= @user.email %></h5><br><br><br><br><br><br><br>
            </div>
        </div>

        <legend class="section"><br></legend>
        
        <div class="row">
            <div class="col-md-8 main">
                <h5>Likes / Hobbies  </h5>
                <div class="form-actions">
                    <h6 style="color:white;"><%= @user.likes %></h6>
                </div>
                <h5>Dislike  </h5>
                <div class="form-actions">
                    <h6 style="color:white;"><%= @user.dislikes %></h6>
                </div>
                <h5>Ambition  </h5>
                <div class="form-actions">
                    <h6 style="color:white;"><%= @user.ambition %></h6>
                </div>
                <h5>Talent  </h5>
                <div class="form-actions">
                    <h6 style="color:white;"><%= @user.talent %></h6>
                </div>
                <h5>About Me  </h5>
                <div class="form-actions">
                    <h6 style="color:white;"><%= @user.aboutme %></h6>
                </div>
            </div>
        </div>
        
        <legend class="section"><h3>Participating Events</h3></legend>
        
        <% @user.events.each do |t| %>
            <div class="row">
                <div class="col-md-8 main">
                    <div class="form-actions">
                        <header>
                            <h4>
                                <%= link_to t.eventname.upcase , upcoming_each_path(t) %>
                            </h4>
                        </header>
                        <%= image_tag t.avatar.url ,:class => 'image_show' %>
                    </div>
                </div>
            </div>
        <% end %>

        <legend class="section"><br></legend>

    </div>
</section>
<!-- Custom javascript for image upload validation -->
<%= javascript_include_tag "profile" %>

